@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn-normal {
    @apply border border-gray-300 hover:border-gray-400 hover:bg-primary px-4 py-1 rounded-md transition-colors;
  }

  .input-box {
    @apply outline-none bg-transparent border-[1.5px] border-gray-500/30 px-3 py-2 rounded-md w-full;
  }
}
